body {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  grid-template-rows: 20% 1fr;
  grid-template-areas:
    "header header"
    "box1 box2"
}

h1 {
  font-size: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Life Savers', serif;
  color: #2B4E80;
  grid-column: span 2;
  grid-area: header;
}

.form-box {
  display: flex;
  flex-direction: column;
  background-color: #E6ECF4;
  height: 400px;
  width: auto;
  padding: 20px;
  grid-column: span 1;
  grid-area: box1;
}

.question-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 35px;
  width: 500px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration-color: #2B4E80;
}

.answer-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #2b4e80;
  color: white;
  height: 35px;
  width: 508px;
}

.answer-button disabled {
  background-color: #2b4e80;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  padding: 70px 70px 0px 70px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-family: 'Open Sans';
  color: black;
}

h3 {
  font-size: 1em;
  font-style: normal;
  padding: 0px 70px 0px 70px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-family: 'Open Sans', bold;
  color: black;
}

.eight-ball-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 175px;
  width: 175px;
  padding: 68px;
}

.clear-button {
  display: block;
  height: 30px;
  width: 50px;
  align-self: flex-end;
}

.clear-button disabled {
  color: #D0CDCD;
  text-decoration-color: white;
}

.woody-img {
  padding: 0px 0px 0px 30px;
  display: inline-flex;
  height: auto;
  width: 300px;
  grid-column: span 1;
  grid-area: box2;
}

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
